<nav class="navbar navbar-expand-lg navbar-light bg shadow-sm">
    <div class="container">
        <!-- Brand (Logo and Text) -->
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="ms-2 h3" >Blog Manager</span>
        </a>

        <!-- Toggle Button (Mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">About Us</a>
                </li>
                <!-- <li class="nav-item">
          <a class="nav-link " href="/login">Log In</a>
        </li> -->
            </ul>
        </div>
    </div>
</nav>